
// Font Stack 
$font-family: 'Roboto';

// Layout spacing
//$margin-unit: --space-unit;
$margin-xxs: var(--space-xxs);
$margin-xs: var(--space-xs);
$margin-s: var(--space-sm);
$margin: var(--space-md);
$margin-m: var(--space-lg);
$margin-l: var(--space-xl);
$margin-xl: var(--space-xxl);


// Font Color 

$font-color-dark:#111;
$font-color: #333;
$font-color-mid: #999;
$font-color-light:#ccc;
$font-color-lighter:#eee;

// Font Size 

$css-font-size-xxl:36px;
$css-font-size-xl:24px;
$css-font-size-l:18px;
$css-font-size-m:16px;
$css-font-size: 14px;
$css-font-size-s: 12px;
$css-font-size-xs: 11px;
$css-font-size-xxs: 10px;

// CSS vars
$font-size-xxl:var(--font-size-xxl);
$font-size-xl:var(--font-size-xl);
$font-size-l:var(--font-size-l);
$font-size-m:var(--font-size-m);
$font-size: var(--font-size);
$font-size-s: var(--font-size-s);
$font-size-xs: var(--font-size-xs);
$font-size-xxs: var(--font-size-xxs);

// Colors 
$primary-color: #3c3d45;
$purple:#a60099;
$green:#22AE73;
$blue: #3c8dbc;
$blue-light: #e1f4ff;
$orange:#f39c12;
$red:#dd4b39; 
$grey: #aaa;
$grey-light:#ccc;
$darkBlue: #004d84;
$lemon: #b5d600;
$pink:#E91E63;
$brown: #795548;
$red-light: #ffecec;

// Interface colors 

$custom-light:#F9FAFC;
$custom-mid: #e8ecf4;
$custom-dark: #d4dae4;
$custom-dark2:#b4c1d6;
$custom-selected:#e1f4ff;

// Interface colors 2

$custom2-light: #eff9ff;
$custom2-mid: #d4ebf9;
$custom2-dark: #adcee2;

// Header 

$header-bg:#fff;
$header-color:$custom-dark;
$nav-bubble-bg:red;
$nav-bubble-color:#fff;
$nav-hover-bg:$custom-light;
$nav-active-bg: #337ab7;
$nav-active-color: #fff;

// Link 

$link: #888;
$link-hover: #ccc;
$link-active: #444;

// highlihght 

$highlight: yellow;
$highlight-current: orange;

// SideBar Menu 

$sidebar-btn-bg:#222d32;
$sidebar-btn-color:#b8c7ce;
$sidebar-btn-child-bg:#182023;

// breadcrumb 

$breadcrumb-bg: $custom-dark;

// Tree 

$tree-list-bg:$custom-light;
$tree-list-border: $custom-mid;

// Tables 


// Grid system Spaces 

/* $margin-xs: 2px;
$margin-s: 4px;
$margin: 8px;
$margin-m: 16px;
$margin-l: 32px;
$margin-xl: 64px; */

// Border
$border-radius: $margin-s;

// Media Queries 

$break-large: 1790px;
$break-mid: 1280px;
$break-s: 1024px;
$break-xs: 992px;