/**
 * Page component
 */

.page {
    margin: $margin;
    padding: $margin-m;
    padding-bottom: $margin-l;
    border-radius: 4px;
    background: white;
    &--home {
        background-color: transparent;
    }
}

.page__title {
    border-bottom: 1px solid #e6e6e6;
    font-size: $font-size-l;
    font-weight: 100;
    margin-bottom: $margin-l;
}

